.main-nav {
    height: 70px;           // Altura da navbar
    color: #FFF;          // Cor do texto
    align-items: center;    // Alinhamento do texto
    padding-left: 40px;     // Espaçamento à esquerda do conteúdo da navbar
    margin-left: 0;         // 
    margin-right: 0;
}

.nav-logo-text {
    color: #FFF;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between; //Justifica os elementos HOME, CATÁLOGO e ADMIN do menu para não ficarem muito juntos.
    
    // a {} é um artifíco do Sass para personalizar os links que estão dentro de main-menu. Toda tag 'a' que está dentro de main-menu vai receber os estilos passados dentro desse a {}
    a {
        font-style: normal; // retira aquele sublinhado que aparece em todo link.
        color: rgba(255, 255, 255, 0.5);

        // '&.active' significa que, toda tag <a> que está dentro de main-menu e que tenha na própria tag <a> a className "active", receberá estilos específicos.
        // O caractere & é usado para fazer referência ao elemento ascendente, que no caso aqui é a tag 'a'.
        &.active {
            font-weight: bold;
            color: #FFF;
        }

        &:hover {   // hover é quando passa o mouse por cima do link e faz um efeito, como mudar a cor, o tamanho..
            color: #FFF;
        }
    }

}