.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.pagination-item {
    width: 40px;
    height: 40px;
    background: #E1E1E1;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    // faz o componente ter a aparência de um link.
    margin-right: 9px;
    
    &.active {
        background: #407BFF;
    }
}

.pagination-previous {
    transform: rotate(-180deg);
    margin-right: 25px;
}

.pagination-next {
    margin-left: 16px;
    cursor: pointer;
}

.page-active {
    cursor: pointer;
    color: #407BFF;
}

.page-inactive {
    color: #E1E1E1;
    pointer-events: none;
}

//Comando para bloquear ações de clique do usuário:
// pointer-events: none; -> é uma característica do bootstrap que desativa qualquer interação que exista do mouse com o elemento que tiver esse comando.